body {
  background-color: bisque;
}

.flex {
  display: flex;
}

nav {
  align-items: baseline;
  justify-content: space-between;
}

#linkSection {
  margin: 20px;
}

a {
  margin: 10px;
}

.productSection {
  border: solid 3px;
  background-color: white;
}

.productSection > * {
  margin: 10px;
}

.productTitle {
  text-decoration: underline;
}

#featuredProduct {
  border: double 3px blue;
  max-width: 500px;
  padding: 20px;
}

#homeSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}